@use "../../styles/variables" as variable;

@mixin commonSpaceAdditionalAndSingleOffer {
  box-sizing: border-box;
  padding: 1.5rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

.no_offers {
  text-align: center;
  font-size: 1.7rem;
}

@media (min-width: 900px) {
  .wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
