$main-light: rgb(255, 255, 255);
$secondary-color: #6f6c7a;
$nav-height: 5rem; //border 1px
$background-gray: #f8f7f7;
$light-blue: rgb(27, 90, 173);
$dark-blue: rgb(0, 52, 119);
$gray: rgb(149, 149, 149);
