.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.loader {
  opacity: 0.4;
  height: 100vh;
  left: 50%;
  top: 50%;
  transform: translate(50%, 50%);
}
